html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
img {
  border-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
h1, h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: normal;
  color: inherit;
  font-family: inherit;
}
:root {
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'Mulish', sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --small-font-size: 12px;
  --h1-font-size: 116px;
  --h1-font-weight: 300;
  --h2-font-size: 32px;
  --h3-font-size: 20px;
  --body-decoration-size: 48px;
  --body-decoration-weight:300;
  --font-style: italic;
}
header{
background-color: #222222;
max-height: 60px;
width: 100%;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    max-height: 60px;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.logo img{
    margin-top: 20px;
}
.header-navigation{
    font-family: var(--font-primary);
    font-size: var(--base-font-size);
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.navigation li {
  padding: 18px 20px;
}
.navigation li:hover{
  cursor: pointer;
  color: #FF3C3C;
}
.navigation li:last-child {
  padding-right: 0;
}
.hero{
    background-color: #222222;
    color:#FFFFFF
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
    height: 862px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 862px;
  gap: 12px;
}

.sidebar p {
  transform: rotate(270deg);
  transform-origin: center;
  white-space: nowrap;
  font-family:"Mulish";
  font-size: var(--small-font-size);
  font-weight: 500;
}
.sidebar-title{
  margin-top: 196px;
}
.sidebar-year{
  margin-top: 13px;
}
.sidebar hr {
  width: 1px;
  height: 536px;
  background-color: #FFFFFF;
  border: none;
  margin: 0;
  transform: none;
  align-self: center;
}
.main-hero{
  display: flex;
  gap: 40px;
  margin-left: 60px;
}
.first-main{
  display: flex;
  flex-direction: column;
}
.main-statistic{
  margin-top: 153px;
}
.main-statistic h1{
  font-family: var(--font-primary);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  text-transform: uppercase;
  line-height: 132px;
  margin-top: 40px;
}
h3{
   font-family: var(--font-primary);
  font-size: var(--h3-font-size);
  font-weight: var(--base-font-weight);
  text-transform: uppercase;
}
.main-statistic h3{
  margin-top: 43px;
  line-height: 28px;
}
.statistic-photo p:first-child, .statistic-client p:first-child{
  font-family: var(--font-primary);
  font-size: var(--body-decoration-size);
  font-weight: var(--body-decoration-weight);
}
.statistic-photo p:last-child{
margin-left: 26px;
}
.statistic-client p:last-child{
margin-left: 26px;
}
.statistic-photoclient{
display: flex;
gap: 60px;
}
.statistic-photo p:last-child, .statistic-client p:last-child{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
}
.slow-down{
  margin-top: 153px;
}
.slow-down:hover{
  cursor: pointer;
  color: #FF3C3C;
}
.slow-down a{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
}
.second-main img{
margin-top: 320px;
}
.second-main{
  max-width: 220px;
  width: 100%;
}
.second-main img{
  max-width: 100%;
  height: auto;
  display: block;
}
.third-main img{
  margin-top: 60px;
}
.third-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.third-main p{
  margin-bottom: 60px;
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  width: 220px;
  text-align: right;
  margin-left: auto;
  line-height: 24px;
}

.three-columns{
  margin-top: 60px;
  margin-bottom: 60px;
display: flex;
gap: 40px;
}
.first-column, .second-column, .third-column{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 440px;
}
.first-column img, .second-column img, .third-column img{
  max-width: 100%;
  height: auto;
  display: block;
}
h2{
  font-family: var(--font-primary);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 12px;
}
.three-columns p{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: 24px;
}
.gallery{
  background-color: #222222;
}
.gallery-slider img {
  display: none;
}
.gallery-wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.gallery img.show-slide {
  display: block;
height: 100%;
}
.gallery-slider{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 20px;
  padding-bottom: 60px;
}
.gallery img:first-child{
  margin-left: -260px;
}
.gallery-title{
  padding-top: 60px;
  color: #FFFFFF;
}
.gallery-title p{
  font-size: var(--base-font-size);
  font-family: var(--font-secondary);
  line-height: 24px;
  margin-bottom: 40px;
}
.gallery img:nth-child(2){
  margin-top: 120px;
}
.gallery img:nth-child(3){
  margin-top: 217px;
}
.gallery img:nth-child(5){
  margin-top: 120px;
}
.gallery img:nth-child(6){
  margin-top: 217px;
}
.price-title{
  margin-top: 60px;
}
.price-title p{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
}
.price-column4{
  margin-top:44px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}
.price-column{
  border: 1px solid black;
  width: 318px;
  height: 498px;
  display: flex;
  flex-direction: column;

}
.price-column:hover{
  border: 1px solid #FF3C3C;
  transition: transform 1s ease;
}
.price-column h3{
  margin-top: 24px;
  margin-left: 24px;
}
.price-column ul{
  margin-left: 39px;
  list-style-type: square;
  margin-top: 12px;
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
}
.price-column ul li {
  margin-bottom: 7px;
}
h4{
  font-family: var(--font-primary);
  font-size: var(--base-font-size);
}
.price-column h4{
  margin-top: 11px;
  margin-left: 24px;
}
.price-button {
  margin-top: auto;
  padding-bottom: 24px;
}
.price-button button{
  margin-left: 24px;
  width: 272px;
  height: 60px;
  background-color: #222222;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: var(--base-font-size);
}
.price-column:hover button{
  cursor: pointer;
  background-color: #FF3C3C;
  color: #222222;
  border: 1px solid #FF3C3C ;
}
.price-button p{
font-style: var(--font-style);
font-family: var(--font-secondary);
font-size: var(--base-font-size);
margin-left: 24px;
margin-bottom: 10px;
}
.FAQ{
  background-color: #222222;
  color: #FFFFFF;
}
.FAQ-wrapper{
display: flex;
justify-content: space-between;
}
.FAQ-title{
  margin-top: 60px;
}
.accordion{
  margin-top: 60px;
  max-width: 680px;
  width: 100%;
  padding-bottom: 60px;
}
details{
  border-top: 1px solid #FFFFFF;
}
summary{
  font-family: var(--font-primary);
  font-size: var(--h3-font-size);
  font-weight: var(--base-font-weight);
  text-transform: uppercase;
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
summary:hover{
  color: #FF3C3C;
  cursor: pointer;
}
summary::marker{
  content: '';
}
summary::after{
  content: '';
  width: 24px;
  height: 24px;
  background: url('./image/png/plus.svg') no-repeat center/contain;
  transition: transform 200ms ease;
}
summary:hover::after {
  background: url('./image/png/plus-red.svg')
}
details p{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  line-height: 24px;
  padding-bottom: 16px;
}
details[open] summary::after{
  content: '';
  background: url(./image/png/minus.svg);
}
::details-content{
  transition: transform 1s ease;
}
footer{
  margin-top: 35px;
}
.footer-form{
  text-align: center;
  margin-bottom: 20px;
}
.footer-form form{
  margin-top: 20px;
  gap: 8px;
}
.footer-form input{
  max-width: 380px;
  height: 56px;
  width: 100%;
  padding-left: 12px;
  transition: border-color 0.3s ease;
}
.footer-form input:hover{
  border-color: #FF3C3C;
  border-style: solid;
  border-width: 1px;
}
.footer-form button{
  max-width: 200px;
  width: 100%;
  height: 60px;
  background-color: #222222;
  color: #FFFFFF;
  font-family: var(--font-primary);
  font-size: var(--base-font-size);
}
.footer-links{
  background-color: #222222;
  height: 100px;
  font-family: var(--font-primary);
    font-size: var(--base-font-size);
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.footer-links li{
  padding: 34px 20px;
}
.footer-form button:hover{
  border-color: #FF3C3C;
  cursor: pointer;
  background-color: #FF3C3C;
  color: #222222;
}
