
html {
  scroll-behavior: smooth;
}
header{
  background-color: #030303;
}

a {
  text-decoration: none;
}
.container{
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
p{
  margin: 0;
}
h1 {
   display: none;
}
.header_navigation {
   display: block;
}
.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.header_svg{
  background-image: url("../assets/svg/logo.svg");
  height: 26px;
  width: 49px;
  background-size: cover;
}
.burger_button{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 0;
}

.burger_line {
  display: block;
  width: 32px;
  height: 2px;
  background:#ffffff;
  margin: 6px 0;
  transition: all 0.3s ease;
}

.header_logo{
 padding: 74px;
 font-family: Forum;
 color: #FFFFFF;
 font-size: 28px;
 text-transform: uppercase;
 letter-spacing: 5px;
}
.nav_list {
  list-style: none;
  display: flex;
  gap: 55px;
  align-items: center;
  letter-spacing: 2px;
  
}
ul{
  display: flex;
  justify-content: space-between; 
}
.nav_link {
  font-family: 'roboto';
  font-weight: 100;
  font-size: 22px;
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
   
}
.nav_link:hover {
  color:#9D8665;
}
.nav_link:active {
  color:#7E6C51;
}
.main_welcome{
  max-height: 810px;
  display: flex;
   justify-content: space-between; 
}

.dark_section{
  background:  #030303;
  color: #FFFFFF;
}
.welcome_column{
   position: relative;
  z-index: 2;
  width: 600px;

}

.welcome_title{
  font-family: 'Forum';
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 150px;
  letter-spacing: 5px;
  max-height: 180px;
}
.welcome_text{
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 28px;
  margin-top: -43px;
  letter-spacing: 2px;
}

.discover_button {
  display: inline-block;
  height: 75px;
  width: 360px;
  text-align: center; 
  line-height: 70px;
  background-color: #710707;
  color: #FFFFFF; 
  text-decoration: none; 
  font-family: 'Roboto';
  font-weight: 300; 
  font-size: 22px; 
  border-radius: 10px; 
  transition: all 0.3s ease; 
  margin-top: 75px;
  letter-spacing: 2px;
}

.discover_button:hover {
  background-color: #9D8665; 
}

.main_welcome {
  position: relative; 
  height: 810px; 
  display: flex;

}

.slide_image {
  width: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; 
}

.main_image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

.welcome_column {
  position: relative;
  z-index: 2; 
  max-width: 600px;
  color: white; 
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}
.swiper_pagination{
 width: 600px;
 height: 120px;
 position: absolute;
 bottom: 0px;
 right: 0;
 background-color: #030303;
 z-index: 1; 
 display: flex;
}
.swiper_pagination_bullets {
  display: flex;
  gap: 25px;
  margin-left: 55px;
  margin-top: 52px;
}
.swiper_pagination_bullet {
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  opacity: 1;
}

.swiper_pagination_bullet:first-child {
  background: #D2B183; 
}
.left_arrow{
  width: 28px;
  height: 8px;
  margin-top: 56px;
  margin-left: 60px;
}

.right_arrow{
    width: 28px;
  height: 8px;
   transform: scaleX(-1);
   margin-top: 56px;
   margin-left: 20px;
}

.custom_pagination{
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 22px;
  margin-top: 48px;
  margin-left: 74px;
}

h2{
  font-family: 'Forum';
  font-size: 80px;
  color: #9D8665;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 75px;
}
.underline_title {
  position: relative;
}
.underline_title::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.visiting_items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 103px;
  padding-bottom: 75px;
  gap: 75px 60px;
}
.underline_item{
  position: relative;
}
.item:hover {
  transform: translateY(-5px);
 box-shadow: 0 8px 16px rgba(0,0,0,0.15);
 }
.underline_item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 70%;
  height: 3px;
  background-color: #710707;
  transition: width 1s ease-out;
}
.item:hover .underline_item {
  width: calc(100% + 170px);
 }
h3 {
  font-family: 'Forum';
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 18px;
color: #000000;
}
.item_text{
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 100;
  color: #000000;
  margin-top: -10px;
}
.item_text2{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 100;
 color: #000000;
 margin-top: 10px;
}
.explore_specification{

  width: 660px;
}

.explore{
  display: grid;
  place-items: center;
  background: #000000;
  
}
.explore_flex{
  display: flex;
  justify-content: space-between;

 
}
.explore_title{
  color:#FFFFFF
}
.explore_text_first{
  font-family: 'Roboto';
  font-size: 22px;
  color: white; 
  font-weight: 300;
  margin-top: 103px;
  line-height: 38.5px;
}
.explore_image{
  width: 720px;
  height: 700px;
  margin-top: 90px;
}
.video_content{
  display: flex; 
  align-items: center; 
  gap: 115px; 
  
}
.explore_text_second{
   font-family: 'Roboto';
  font-size: 22px;
  color: white; 
  font-weight: 300;
  margin-top: 25px;
  line-height: 38.5px;
}
.video_text{
    font-family: 'Roboto';
  font-size: 22px;
  color: #000000; 
  font-weight: 300;
  line-height: 38.5px;
}
.explore_image{
  margin-top: 90px;
   display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 61%;
  margin-bottom: 75px;
}
.image_container{
max-width: 720px;
  max-height: 700px;
  aspect-ratio: 1/1;
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image_before {
  position: absolute;
  inset: 0;
  width: var(--position);

}
.explore_slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}
.slider_line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff; 
  left: var(--position);
  transform: translateX(-0%);
  pointer-events: none;
  mask: radial-gradient(circle at center, transparent 18px, white 19px);
}

.slider_button {
  position: absolute;
  color: black;
  border-radius: 150vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.custom_controls {
  display: flex;
  flex-direction: row;
  align-items: center;
height: 85px;
background: #000000;
gap: 50px;
margin: 0;
}
.progress {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 8px;
  width: 929px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb,
.progress_volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.play_button, .svg_sound_button, .svg_fullscreen_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_button_big{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  cursor: pointer;
  transition: 0.3s;
}

.play_button{
  margin-left: 30px;
}

.progress_volume {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
   -webkit-appearance: none;
}
.video_items {
    margin: 0;
    padding-top: 8px;
    line-height: 0; 
  position: relative;
    width: 100%;
}
.video_item{
 width: 1440px;
 height: 650px;
 object-fit: cover;
 display: block;
}
/*.video_items:hover .play_button_big {
  display: block;
}
.play_button_big {
  display: none;
}   для статичной верстки пока закоменчу*/   
.play_button {
 width: 23px;
 height: 31px;
 background: none;
 border: none;
 cursor: pointer;
 padding: 0;
 position: relative;
}
.play_button::before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-30%, -50%);
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 15px solid #808080;  
}
.play_button :hover::before {
border-left-color: #606060;
}

.svg_sound_button {
 background: none;
 border: none;
 cursor: pointer;
  padding: 0;
}
  .svg_sound_button svg {
   transition: fill 0.2s;
    }
.svg_sound_button:hover svg {
 fill: #606060;
}
.svg_fullscreen_button {
 background: none;
  border: none;
 cursor: pointer;
  padding: 0;
 }
.svg_fullscreen_button svg {
 transition: fill 0.2s;
}
.svg_fullscreen_button:hover svg {
fill: #606060;
}

.slider3_video{
  margin-top: 40px;
 display: flex;
 justify-content: space-between;
 
}
.video_container{
  position: relative;
}
.small_video{
  display: block;
}
.youtube_play_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.video_avatar{
  position: absolute;
   top: 14%;
  left: 7%;
  transform: translate(-50%, -50%);
}
.video_name{
font-family:'Roboto';
font-size: 18px;
color: #FFFFFF;
font-weight: 400;
overflow: hidden;
position: absolute;
   top: 8%;
  left: 13%;
  width: 329px;
}
.video_slider_paginator{
  margin-top: 40px;
  margin-bottom: 75px;
  margin-left: 620px;
   position: absolute;
    z-index: 1; 
 display: flex;
}

.slider_pagination_circles {
  display: flex;
  gap: 20px;
  
}
.slider_pagination_circle {
  width: 12px;
  height: 12px;
  background: #999999;
  opacity: 1;
  border-radius: 50%;
   cursor: pointer;
}

.slider_pagination_circle:nth-child(2) {
  background: #710707; 
}
.double_arrow_left{
   transform: rotate(180deg);
}
.gallery{
  background: #000000;
  height: 2200px;
overflow: hidden;
margin-top: 127px;
}
/*.gallery_title{
 padding-bottom: 50px;
  color: #FFFFFF;
}
.gallery_content{
  display: flex;
  
}*/
.gallery_content {
  columns: 3; 
  column-gap: 36px; 
}
.gallery_content img {
  width: 456px;        
  margin-bottom: 24px; 
  display: inline-block;
}
.lift-up {
    transform: translateY(-50px);
}
/*
.gallery_content img:nth-child(6),
.gallery_content img:nth-child(7),
.gallery_content img:nth-child(8),
.gallery_content img:nth-child(9),
.gallery_content img:nth-child(10) {
  position: relative;
  top: -50px;
}

/*
.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px; 
    overflow-y: auto;
  }

  .higher_column {
    margin-top: -50px; 
  }
  
  .column img {
    width: 100%;
    height: auto;
  }
    */
.ticket_wrapper{
  display: flex;
justify-content: space-between;
width: 660px;
}
 .tickets_content{
  display: flex;
  justify-content: column;
  gap:60px;
  margin-top: 95px;
  margin-bottom: 75px;
 }
.ticket_title {
  font-family: "Roboto";
  font-weight: bold;
 font-size: 28px;
}
.amount_title{
   font-family: "Roboto";
  font-weight: bold;
 font-size: 28px;
 float: right;
}
.ticket_selection {
font-family: "Roboto";
font-weight: 300;
 font-size: 22px;
 float: right;
}
.ticket_options {
  display: flex;
  flex-direction: column;
  gap:25px;
  margin-top: 50px;
}
.ticket_option {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ticket_option input[type="radio"] {
margin-right: 23px;
  accent-color: #000000;
}
.amount_option{
 display: flex;
  flex-direction: column;  
  align-items: flex-end;
}

.amount_name {
font-family: "Roboto";
font-weight: 300;
 font-size: 22px;
 white-space: nowrap;
 width: 150px;
 text-align: left;
}
h4{
margin-top: 0;
margin-bottom: 25px;
}

.quantity_wrapper{
  margin-top: 15px;
  width: 147px;
  height: 47px;
 display: flex;
 border: 3px solid #000;
 overflow: hidden;
 background-color: white; 
 margin-bottom: 10px;
}
.quantity_btn {
 flex: 1;
height: 100%;
 background-color: transparent; 
 border: none;
  cursor: pointer;
 display: flex;
 justify-content: space-around;
  align-items: center;
  transition: background-color 0.2s;
 color: #000000;
 font-size: 32px;
  }
 .quantity_value {
 flex: 1;
 text-align: center;
font-size: 22px;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
border: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount_total{
font-family: "Roboto";
font-weight: bold;
font-size: 28px;
margin-top: 37px;
letter-spacing: 1.65px;
}
.buy_now_btn{
  background-color: #000000;
  color: white;
  border: none;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: lighter;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 175px;
  height: 50px;
  margin-top: 60px;

}
.buy_now_btn:hover{
  background-color: #9D8665;
  color: #000000;
}
.parallax{
  width: 100%;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.contacts_content{
  display: flex;
  justify-content:space-between ;
  margin-top: 103px;
  margin-bottom: 75px;
}
.contact_info{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: lighter;
}
.contact_title{
 font-size: 28px;
  font-family: "Roboto";
  font-weight: 500; 
}
.contact_adress{
  margin-top: 25px;
  margin-bottom: 25px;
}
.contact_phone{
 margin-bottom: 25px;
}
.contact_link{
  text-decoration: none;
  color: #000000;
}
.footer{
  background-color: #000000;
}
.footer_container{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  
}
.footer_navigation{
margin-left: -120px;
}
.footer_nav_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 150px;
    row-gap: 25px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    padding-top: 5px;
}
.social_media_list {
    display: flex;
    gap: 25px;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-left: 0; 
    list-style: none; 
}
.social_item {
    display: inline-block; 
}
.social_icon:hover {
    transform: scale(1.1); 
}
.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social_icon {
  width: 48px;
  height: 48px;
  transition: all 0.3s ease;
  filter: brightness(0.9);
}

/* Эффекты при наведении */
.social_link:hover {
  background-color: rgba(247, 205, 66, 0.1);
  box-shadow: 0 0 0 1px #eec53f;
}

.social_link:hover .social_icon {
  filter: brightness(1) sepia(1) hue-rotate(5deg) saturate(5);
  transform: scale(1.1);
}
.underline_title_footer {
  content: "";
  left: 0;
  right: 0;
  height: 3px;
  background-color: #666666;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 100; 
  color: #fff;
  letter-spacing: 2px;
  margin-top: 50px;
  padding-bottom: 52px;
}

@media screen and (max-width: 1024px) {
  .container{
    max-width: 984px;
  }
  .burger_button{
   display: block;
  }
    
  .header_navigation {
   position: fixed;
   top: 0;
   right: -100%;
   width: 70%;
   height: 505px;
   background: #030303;
   transition: right 0.3s ease;
   padding-top: 80px;
   z-index: 999;
  }
 

  .header_container{ 
   height: 130px;
  }
  .nav_list {
  flex-direction: column;
  gap: 25px;
  padding: 0;
  }
  
  .nav_item {
  margin-bottom: 15px;
  }
  .nav_item::after{
   content: "ᐳ";
   color: #ffffff;
   padding-left: 25px;
   width: 12px;
   height: 12px;
  }
 
  .header_navigation.active {
   left: 0;
   top:130px;
   width: 297px;
  }
  
  .burger_button.active .burger_line:nth-child(1) {
   transform: rotate(45deg) translate(5px, 5px);
  }
    
  .burger_button.active .burger_line:nth-child(2) {
    opacity: 0;
  }
    
  .burger_button.active .burger_line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  .welcome_title{
    position: relative;
    font-size: 50px;
    margin-top: 50px;
    line-height: 90px;
    z-index: 3;
  }
  .image1{
    max-width: 800px;
    max-height: 525px;
    margin-left: 300px;
    object-fit: contain;
  }
  .welcome_text {
   margin-top: -16px;
   font-size: 24px;
   font-weight: 300;
  }
 .main_welcome {
  max-height: 585px;
 
 }
 .swiper_pagination{
   width: 700px; 
 }
 .discover_button {
   max-width: 300px;
   max-height: 60px;
   margin-top: 51px;
   font-size: 20px; 
   line-height: 60px;
 }
 .custom_pagination{
   margin-left: 224px; 
   font-size: 20px;
   margin-top: 49px;
 }
  .swiper_pagination_bullet {
   width: 12px;
   height: 12px;
 }
  .swiper_pagination_bullets {
   margin-left: 46px;
   margin-top: 54px;
 }
  .left_arrow {
   margin-top: 55px;
   margin-left: 46px
 }
  .right_arrow {
   margin-top: 55px;
   margin-left: 22px;
 }
 h2{
   font-size: 50px;
   margin-top: 69px;
   
 }
 .underline_title::after {
    bottom: 10px;
 }
  .visiting_items{
   margin-top: 91px; 
   gap: 60px 108px;
   margin-left: 108px;
   padding-bottom: 60px;
 }
 .visiting_item{
   width: 330px;
   height: 345px;
 }
 .item_img{
   width: 330px;
   height: 215px;
 }
 h3{
   font-size: 28px;
   letter-spacing: 3px;
 }
 .underline_item::after{
   height: 2px;
   bottom: 14px;
   width: 46%;
 }
 .item_text {
   font-size: 20px;
   margin-top: -4px;
 }
  .item_text2{
   font-size: 16px;
 }
 .explore_flex{
   flex-direction: column;
 }
 .explore_text_first{
    margin-top: 92px;
    width: 984px;
    font-size: 20px;
  
 }
 .explore_text_first br {
    display: none;
  }
 .explore_text_second{
   font-size: 20px;
   margin-top: 0px;
   width: 984px;
   line-height: 35px;
 }
 .explore_text_second:nth-of-type(2) {  
   display: none;
 }
 .explore_image{
    margin-top: 62px;
    margin-left: 130px;
    margin-bottom: 60px;
 }
 .video_text{
   display: none;
 }
 .video_item {
   width: 984px;
   height: 444px;
 }
 .play_button_big img {
   width: 152px;
   height: 152px;
 }
  .play_button_big {
    top: 51%
  }
 .custom_controls {
   margin-top: 0px;
   height: 60px;
 }
 .progress {
    height: 5px;
 }
 .play_button {
    width: 35px;
 }
 .small_video{
   width: 300px;
 }
 .video_avatar{
    top: 18%;
    left: 10%;
 }
  .video_name{
    top: 12%;
    left: 20%;
    width: 188px;
    overflow: hidden;
    white-space: nowrap;   
    text-overflow: ellipsis
  }
 .video_slider_paginator {
   margin-left: 392px;
   margin-top: 41px;
 }
 .gallery {
   margin-top: 113px;
   height: 1460px;
 }
 .gallery_content{
   margin-top: 118px;
 }
 .gallery_content img {
   width:304px; 
 }  
 .tickets_content {
  margin-bottom: 56px;
 }
 .tickets_content img{
   width: 700px;
   height: 440px;
   object-fit: cover; 
   object-position: center;
   margin-top: -4px;
 }
 .ticket_selection{
   display: none;
 }
 .amount_option {
    align-items: flex-start;
    margin-left: 20px;
 }
 .quantity_wrapper {
    width: 170px;
    margin-top: 12px;
    height: 44px;
    margin-bottom: 28px;
 }
 .amount_total{
   margin-top: -3px;
   margin-left: 2px;
 }
  .euro::after {
    content: "  "; 
 }
 .buy_now_btn {
   margin-top: 69px;
 }
 .contact_map img{
   width: 694px;
   height: 454px;
   object-fit: cover; 
   object-position: center;
 }
  .contacts_content{
    margin-top: 91px;
  }
  .contact_title{
   font-size: 24px;
  }
  .contact_adress {
    margin-top: 11px;
    font-size: 20px;
   font-family: "Roboto";
    margin-bottom: 14px;
  }
  .contact_phone ,
  .contact_mail{
   font-size: 20px;
   font-family: "Roboto";
   margin-bottom: 15px;
  }
 




}